@import "common";
@import "Typography";
@import "responsive";

@mixin button($color, $hoverColor) {
  border-radius: 25px;
  border: none;
  margin: 0px 2%;
  width: 26%;
  background-color: $color;
  padding: 20px;
  color: #fff;
  cursor: pointer;
  &:hover {
    background-color: $hoverColor;
  }
}

@mixin para {
  font-size: 26px;
  line-height: 1.25;
}

.About {
  @include sectionContainer;
  @include row;
  @include center;
  width: 100%;
  @include tabletL {
    @include col;
  }
  &One {
    width: 40%;
    @include col;
    @include center;
    @include tabletL {
      width: 100%;
    }
    &Cont {
      height: 90%;
      width: 90%;
      @include col;
      @include center;
      &Img {
        width: 100% !important;
        height: 100% !important;
        border-radius: 50%;
        border: 2px solid yellow;
      }
    }
  }
  &Two {
    width: 60%;
    @include col;
    @include center;
    @include tabletL {
      width: 100%;
    }
    &Cont {
      width: 80%;
      height: 80%;
      @include center;
      @include col;
      &Heading {
        @include GradientText(#fbff00, #fdff6d);
        padding-bottom: 2%;
      }
      &Para1 {
        @include para;
      }
      &Para2 {
        @include para;
      }
      &Para3 {
        @include para;
      }
      &ButtonCont {
        @include row;
        @include center;
        width: 100%;
        padding: 2%;
        &Github {
          @include button(rgb(0, 89, 255), rgb(253, 0, 253));
        }
        &Projects {
          @include button(rgb(98, 0, 255), rgb(255, 226, 5));
        }
      }
    }
  }
}
