@import "common";
@import "responsive";
@import "Typography";

.Contact {
  @include sectionContainer;
  @include col;
  @include center;
  width: 100%;
  &Con {
    @include col;
    width: 60%;
    @include center;
    height: 90%;
    @include tabletL {
      width: 90%;
    }
    &H {
      @include SectionHeadText(blue, skyblue);
    }
    &Heading {
      text-align: center;
      padding-bottom: 2%;
      @include GradientText(#fbff00, #fdff6d);
      font-size: 35px;
    }
    &Para {
      width: 70%;
      line-height: 1.2;
      text-align: center;
      color: #dddddd;
      @include tablet {
        width: 100%;
      }
    }
    &LogoCont {
      @include row;
      @include center;
      width: 100%;
      padding: 2%;
      &Logo {
        width: 4%;
        font-size: 30px;
        color: #fff;
        padding-left: 10px;
        padding-right: 10px;
        cursor: pointer;
      }
    }
  }
}
