@import "common";
@import "Typography";
@import "responsive";

.Home {
  @include sectionContainer;
  @include row;
  @include tabletL {
    flex-direction: column-reverse;
  }
  &One {
    @include col;
    @include center;
    width: 60%;
    @include tabletL {
      width: 100%;
    }
    &Cont {
      @include col;
      width: 90%;
      &InText {
        color: #fff;
        margin-bottom: 1px;
        padding-left: 1%;
        font-size: 25px;

        @include laptopL {
          font-size: 25px;
        }
        @include laptop {
          font-size: 20px;
        }
        @include tabletL {
          font-size: 23px;
        }
        @include tablet {
          font-size: 22px;
        }
        @include mobileXL {
          font-size: 20px;
        }
        @include mobileL {
          font-size: 18px;
        }
        @include mobileM {
          font-size: 16px;
        }
      }
      &Button {
        width: 25%;
        border-radius: 50px;
        padding: 2%;
        text-align: center;
        margin-left: 1%;
        background-color: #ffee00;
        border: 1px solid #ffee00;
        color: #000;
        font-weight: bold;
        cursor: pointer;
        &:hover {
          background-color: #00fffb;
          border: 1px solid #00fffb;
        }
      }
      &Name {
        @include GradientText(#00fffb, rgb(68, 0, 255));
        font-weight: bolder;
        padding-bottom: 3%;
        font-size: 120px;

        @include laptopL {
          font-size: 80px;
        }
        @include laptop {
          font-size: 60px;
        }
        @include tabletL {
          font-size: 90px;
        }
        @include tablet {
          font-size: 80px;
        }
        @include mobileXL {
          font-size: 60px;
        }
        @include mobileL {
          font-size: 50px;
        }
        @include mobileM {
          font-size: 40px;
        }
      }
      &SName {
        @include GradientText(rgb(255, 124, 255), #fc0082);
        font-weight: bolder;
        padding-bottom: 5%;
        font-size: 180px;

        @include laptopL {
          font-size: 120px;
        }
        @include laptop {
          font-size: 100px;
        }
        @include tabletL {
          font-size: 140px;
        }
        @include tablet {
          font-size: 130px;
        }
        @include mobileXL {
          font-size: 80px;
        }
        @include mobileL {
          font-size: 70px;
        }
        @include mobileM {
          font-size: 60px;
        }
      }
      &Typical {
        margin-top: 0px;
        padding: 1%;
        font-size: 40px;

        @include laptopL {
          font-size: 30px;
        }
        @include laptop {
          font-size: 25px;
        }
        @include tabletL {
          font-size: 35px;
        }
        @include tablet {
          font-size: 30px;
        }
        @include mobileXL {
          font-size: 25px;
        }
        @include mobileL {
          font-size: 20px;
        }
        @include mobileM {
          font-size: 18px;
        }
      }
    }
  }
  &Two {
    width: 40%;
    @include col;
    @include tabletL {
      width: 100%;
    }
  }
}
