@mixin row {
  display: flex;
  flex-direction: row;
}

@mixin col {
  display: flex;
  flex-direction: column;
}

@mixin center {
  align-items: center;
  justify-content: center;
}

@mixin end {
  align-items: center;
  justify-content: flex-end;
}

@mixin start {
  align-items: center;
  justify-content: flex-start;
}

@mixin sectionContainer {
  height: 100vh;
  width: 100%;
  @include center;
}

