@mixin GradientText($c1, $c2) {
  background: -webkit-linear-gradient($c1, $c2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-bottom: 9px;
  line-height: 1.2;
  &:hover {
    background: -webkit-linear-gradient(#ff00ff, pink);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

@mixin SectionHeadText($c1, $c2) {
  @include GradientText($c1, $c2);
  font-weight: 500;
  font-size: 25px;
  padding-bottom: 9px;
}
