html,
body {
  margin: 0;
  background: #000;
  color: #fff;
  // font-family: 'Carter One', cursive;
  font-family: "Oleo Script", cursive;
}

a {
  text-decoration: none;
  color: #fff;
}

::-webkit-scrollbar {
  width: 6px;
  background: black;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgb(0, 110, 255);
  border-radius: 5px;
  padding: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(255, 0, 234);
}
